In [17]:
import numpy as np
import pandas as pd
from __future__ import division

np.random.seed(seed=42)

demand = pd.DataFrame({ 'ID' : np.arange(200),
                              'population' : np.random.randint(low=4000, high=10000, size=200),
                              'area' : np.random.randint(low=1, high=50, size=200),
                              'user_demand' : [50]*200})

#calculate number of users, here assuming 80% penetration 
demand['users'] = np.round(demand.population*0.8)

#calculate user density by dividing users by geographical area
demand['user_density'] = np.round(demand.users / demand.area, 1)

#calculate average user demand
demand['ave_user_throughput'] = np.round(demand.user_demand*1024*8*(1/1)*(1/30)*(1/3600),1)

#calculate capacity per area unit (Mbps/km2)
demand['capacity_required_km2'] = np.round(demand.ave_user_throughput * demand.user_density,1)

#calculate overbooking factor of 50:1
demand['total_capacity_required_km2'] = np.round(demand.capacity_required_km2 / 50,1)

demand.head(n=5)

,ID,area,population,user_demand,users,user_density,ave_user_throughput,capacity_required_km2,total_capacity_required_km2
0,0,12,4860,50,3888.0,324.0,3.8,1231.2,24.6
1,1,39,9390,50,7512.0,192.6,3.8,731.9,14.6
2,2,2,9226,50,7381.0,3690.5,3.8,14023.9,280.5
3,3,3,9191,50,7353.0,2451.0,3.8,9313.8,186.3
4,4,49,7772,50,6218.0,126.9,3.8,482.2,9.6

In [18]:
np.random.seed(seed=42)

#how much spectrum bandwidth is available?
supply = pd.DataFrame({ 'spectrum_bandwidth' : [20]*200})

#how many sites are available?
supply['sites'] = np.random.randint(low=1, high=40, size=200)

#how many sites are available?
supply['site_density'] = np.round(supply.sites / demand.area, 2)

#how many cells are available?
supply['cells'] = supply.sites * 3

#how many cells are available?
supply['spectral_efficiency'] = [4]*200

#calculate total capacity of system
supply['total_capacity'] = (supply.spectrum_bandwidth * supply.sites * supply.cells * supply.spectral_efficiency)/1000

#how many cells are available?
supply['total_capacity_Gb_km2'] = np.round(supply.total_capacity / demand.area,0)

supply.head(n=5)

,spectrum_bandwidth,sites,site_density,cells,spectral_efficiency,total_capacity,total_capacity_Gb_km2
0,20,39,3.25,117,4,365.04,30.0
1,20,29,0.74,87,4,201.84,5.0
2,20,15,7.50,45,4,54.00,27.0
3,20,8,2.67,24,4,15.36,5.0
4,20,21,0.43,63,4,105.84,2.0

In [19]:
np.random.seed(seed=42)

#calculate capacity_margin (which in this case is just the shortfall of Mbps/km^2)
capacity_margin = pd.concat([demand, supply], axis=1)

capacity_margin['capacity_margin'] = capacity_margin.total_capacity_Gb_km2 - capacity_margin.total_capacity_required_km2

capacity_margin.head(n=5)

,ID,area,population,user_demand,users,user_density,ave_user_throughput,capacity_required_km2,total_capacity_required_km2,spectrum_bandwidth,sites,site_density,cells,spectral_efficiency,total_capacity,total_capacity_Gb_km2,capacity_margin
0,0,12,4860,50,3888.0,324.0,3.8,1231.2,24.6,20,39,3.25,117,4,365.04,30.0,5.4
1,1,39,9390,50,7512.0,192.6,3.8,731.9,14.6,20,29,0.74,87,4,201.84,5.0,-9.6
2,2,2,9226,50,7381.0,3690.5,3.8,14023.9,280.5,20,15,7.50,45,4,54.00,27.0,-253.5
3,3,3,9191,50,7353.0,2451.0,3.8,9313.8,186.3,20,8,2.67,24,4,15.36,5.0,-181.3
4,4,49,7772,50,6218.0,126.9,3.8,482.2,9.6,20,21,0.43,63,4,105.84,2.0,-7.6

In [ ]:
if capacity_margin.total_capacity_required_km2 < capacity_margin.total_capacity_Gb_km2 

    add_basestations =

In [28]:
cells = {'4G LTE-A MaBS' : pd.Series([0.25, 0.2, 3,1,20,2.6,3.8,76,228], index=['range(km)', 'coverage(km2)', 'sectors','carriers','bandwidth(MHz)','carrier(GHz)','av.SE(bps/Hz)', 'av.cell_cap(Mbps)', 'Av.site_cap(Mbps)']),
     '4G LTE-A MiBS' : pd.Series([0.25, 0.2, 3,1,20,2.6,3.8,76,228], index=['range(km)', 'coverage(km2)', 'sectors','carriers','bandwidth(MHz)','carrier(GHz)','av.SE(bps/Hz)', 'av.cell_cap(Mbps)', 'Av.site_cap(Mbps)']),
     '5G mmW MiBS' : pd.Series([0.25, 0.2, 3,1,20,2.6,3.8,76,228], index=['range(km)', 'coverage(km2)', 'sectors','carriers','bandwidth(MHz)','carrier(GHz)','av.SE(bps/Hz)', 'av.cell_cap(Mbps)', 'Av.site_cap(Mbps)']),
     '5G mmW PBS' : pd.Series([0.25, 0.2, 3,1,20,2.6,3.8,76,228], index=['range(km)', 'coverage(km2)', 'sectors','carriers','bandwidth(MHz)','carrier(GHz)','av.SE(bps/Hz)', 'av.cell_cap(Mbps)', 'Av.site_cap(Mbps)']),
     'Wi-Fi IEEE 802.11ac AP' : pd.Series([0.25, 0.2, 3,1,20,2.6,3.8,76,228], index=['range(km)', 'coverage(km2)', 'sectors','carriers','bandwidth(MHz)','carrier(GHz)','av.SE(bps/Hz)', 'av.cell_cap(Mbps)', 'Av.site_cap(Mbps)']),
     'Wi-Fi IEEE 802.11ad AP' : pd.Series([0.25, 0.2, 3,1,20,2.6,3.8,76,228], index=['range(km)', 'coverage(km2)', 'sectors','carriers','bandwidth(MHz)','carrier(GHz)','av.SE(bps/Hz)', 'av.cell_cap(Mbps)', 'Av.site_cap(Mbps)'])}

cell_types = pd.DataFrame(cells)

cell_types.head(n=10)

,4G LTE-A MaBS,4G LTE-A MiBS,5G mmW MiBS,5G mmW PBS,Wi-Fi IEEE 802.11ac AP,Wi-Fi IEEE 802.11ad AP
range(km),0.25,0.25,0.25,0.25,0.25,0.25
coverage(km2),0.20,0.20,0.20,0.20,0.20,0.20
sectors,3.00,3.00,3.00,3.00,3.00,3.00
carriers,1.00,1.00,1.00,1.00,1.00,1.00
bandwidth(MHz),20.00,20.00,20.00,20.00,20.00,20.00
carrier(GHz),2.60,2.60,2.60,2.60,2.60,2.60
av.SE(bps/Hz),3.80,3.80,3.80,3.80,3.80,3.80
av.cell_cap(Mbps),76.00,76.00,76.00,76.00,76.00,76.00
Av.site_cap(Mbps),228.00,228.00,228.00,228.00,228.00,228.00

In [29]:
cells = {'4G LTE-A MaBS' : pd.Series([30, 30, 30], index=['RAN', 'transmission', 'site']),
     '4G LTE-A MiBS' : pd.Series([15,30,10], index=['RAN', 'transmission', 'site']),
     '5G mmW MiBS' : pd.Series([8,30,8], index=['RAN', 'transmission', 'site']),
     '5G mmW PBS' : pd.Series([6,10,2.5], index=['RAN', 'transmission', 'site']),
     'Wi-Fi IEEE 802.11ac AP' : pd.Series([2.5,5,1], index=['RAN', 'transmission', 'site']),
     'Wi-Fi IEEE 802.11ad AP' : pd.Series([2.5,5,1], index=['RAN', 'transmission', 'site'])}

capex = pd.DataFrame(cells)

capex.head(n=10)

,4G LTE-A MaBS,4G LTE-A MiBS,5G mmW MiBS,5G mmW PBS,Wi-Fi IEEE 802.11ac AP,Wi-Fi IEEE 802.11ad AP
RAN,30,15,8,6.0,2.5,2.5
transmission,30,30,30,10.0,5.0,5.0
site,30,10,8,2.5,1.0,1.0

In [35]:
cells = {'4G LTE-A MaBS' : pd.Series([30, 30, 30], index=['transmission', 'site', 'O&M power']),
     '4G LTE-A MiBS' : pd.Series([15,30,10], index=['transmission', 'site', 'O&M power']),
     '5G mmW MiBS' : pd.Series([8,30,8], index=['transmission', 'site', 'O&M power']),
     '5G mmW PBS' : pd.Series([6,10,2.5], index=['transmission', 'site', 'O&M power']),
     'Wi-Fi IEEE 802.11ac AP' : pd.Series([2.5,5,1], index=['transmission', 'site', 'O&M power']),
     'Wi-Fi IEEE 802.11ad AP' : pd.Series([2.5,5,1], index=['transmission', 'site', 'O&M power'])}

opex = pd.DataFrame(cells)

opex.head(n=10)

,4G LTE-A MaBS,4G LTE-A MiBS,5G mmW MiBS,5G mmW PBS,Wi-Fi IEEE 802.11ac AP,Wi-Fi IEEE 802.11ad AP
transmission,30,15,8,6.0,2.5,2.5
site,30,30,30,10.0,5.0,5.0
O&M power,30,10,8,2.5,1.0,1.0