In [2]:
import pandas as pd

data = pd.DataFrame({'ID' : (1, 2),
                'area': (2, 3),
                'population' : (100, 200),
                'demand' : (100, 200)})

print(data)

   ID  area  demand  population
0   1     2     100         100
1   2     3     200         200

In [4]:
output = pd.DataFrame({'ID': (1,2,1,2,1,2),
                'year': (1,1,2,2,3,3),
                'area': (2,3,2,3,2,3),
                'population': (100,200,110,220,121,242),
                'demand': (100,200,120,240,144,288)})
print(output)

   ID  area  demand  population  year
0   1     2     100         100     1
1   2     3     200         200     1
2   1     2     120         110     2
3   2     3     240         220     2
4   1     2     144         121     3
5   2     3     288         242     3

In [5]:
k = 5     #Number of years to forecast
a = 1.20  #Demand Growth
b = 1.10  #Population Growth

In [6]:
df_out = (data[['ID','area']].merge(pd.concat([(data[['demand','population']].mul([pow(a,i),pow(b,i)])).assign(year=i+1) for i in range(k)]), 
                           left_index=True, right_index=True)
                    .sort_values(by='year'))

print(df_out)

   ID  area  demand  population  year
0   1     2  100.00      100.00     1
1   2     3  200.00      200.00     1
0   1     2  120.00      110.00     2
1   2     3  240.00      220.00     2
0   1     2  144.00      121.00     3
1   2     3  288.00      242.00     3
0   1     2  172.80      133.10     4
1   2     3  345.60      266.20     4
0   1     2  207.36      146.41     5
1   2     3  414.72      292.82     5

In [10]:
data = pd.DataFrame({'ID' : (1,2,1,2,1,2),
                'year': (1,1,2,2,3,3),
                'total_change' : (2,1,7,4,14,6)})

data.head(n=6)

   ID  total_change  year
0   1             2     1
1   2             1     1
2   1             7     2
3   2             4     2
4   1            14     3
5   2             6     3

In [12]:
output = pd.DataFrame({'ID' : (1,2,1,2,1,2),
                'year': (1,1,2,2,3,3),
                'total_change' : (2,1,7,4,14,6),
                'annual_change' : (2,1,5,3,7,2)})
output.head(n=6)

   ID  annual_change  total_change  year
0   1              2             2     1
1   2              1             1     1
2   1              5             7     2
3   2              3             4     2
4   1              7            14     3
5   2              2             6     3